.normal {
  font-family: Georgia, sans-serif;
  /* margin-top: 3em; */
  text-align: center;
  background: url(../../../assets/signup-top.png) no-repeat center 0;
  background-size: contain;
  padding-top: 235px;
}

.signupPaper {
  padding-bottom: 3em;
  margin: 0 26px;
}

.textField {
  width: 90%;
}